:root {

    --primary: #c8a96a;
    --secondary: #f8f3eb;
    --cream: #fffaf2;
    --white: #ffffff;
    --dark: #2b2b2b;
    --text: #666;

    --footer: #8b6a3e;

    --shadow: 0 15px 35px rgba(0,0,0,0.08);

    --radius:20px;

}


/* ===============================
RESET
================================ */


* {

    margin:0;
    padding:0;
    box-sizing:border-box;

}



html {

    scroll-behavior:smooth;

}



body {

    font-family:'Poppins',sans-serif;

    background:var(--secondary);

    color:var(--dark);

    overflow-x:hidden;

}



h1,
h2,
h3 {

    font-family:'Cormorant Garamond',serif;

}



section {

    padding:90px 8%;

}



img {

    max-width:100%;

    display:block;

}



/* ===============================
NAVIGATION
================================ */


nav {

    position:fixed;

    top:0;
    left:0;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;

    background:rgba(255,255,255,.85);

    backdrop-filter:blur(15px);

    z-index:1000;

}



.logo {

    font-size:35px;

    font-weight:bold;

    color:var(--primary);

}



nav ul {

    display:flex;

    gap:25px;

    list-style:none;

}



nav a {

    text-decoration:none;

    color:var(--dark);

    font-size:14px;

    transition:.3s;

}



nav a:hover {

    color:var(--primary);

}





/* ===============================
HERO
================================ */


.hero {

    height:100vh;

    min-height:700px;


    background:

    linear-gradient(
    rgba(0,0,0,.45),
    rgba(0,0,0,.45)
    ),

    url("../assets/photos/hero.jpg");


    background-size:cover;

    background-position:center;


    display:flex;

    justify-content:center;

    align-items:center;

}



.overlay {

    text-align:center;

    color:white;

    padding:30px;

}



.overlay h3 {

    font-size:35px;

    letter-spacing:3px;

}



.overlay h1 {

    font-size:80px;

    line-height:1;

    margin:30px 0;

}



.overlay p {

    font-size:20px;

}





/* ===============================
GUEST NAME
================================ */


.guest-name {

    margin:35px auto;

    padding:25px;

    max-width:450px;


    background:rgba(255,255,255,.15);

    backdrop-filter:blur(10px);

    border-radius:20px;

}



.guest-name p {

    color:#eee;

}



.guest-name h2 {

    color:white;

    font-size:48px;

}





/* ===============================
BUTTON
================================ */


.btn {

    display:inline-block;

    background:var(--primary);

    color:white;

    padding:15px 40px;

    border-radius:50px;

    margin-top:20px;

    text-decoration:none;

}



.btn:hover {

    transform:translateY(-5px);

    box-shadow:var(--shadow);

}





/* ===============================
SECTION TITLE
================================ */


section h2 {

    text-align:center;

    color:var(--primary);

    font-size:55px;

    margin-bottom:60px;

}





/* ===============================
COUPLE
================================ */


.couple-wrapper {

    display:flex;

    justify-content:center;

    gap:40px;

    flex-wrap:wrap;

}



.card {

    background:white;

    width:330px;

    padding:30px;

    text-align:center;

    border-radius:var(--radius);

    box-shadow:var(--shadow);

}



.card img {

    width:220px;

    height:220px;

    object-fit:cover;

    border-radius:50%;

    margin:auto;

}



.card h3 {

    font-size:40px;

}





/* ===============================
COUNTDOWN
================================ */


#countdown {

    background:var(--cream);

}



.countdown {

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}



.countdown div {

    background:white;

    width:150px;

    padding:30px;

    border-radius:20px;

    text-align:center;

    box-shadow:var(--shadow);

}



.countdown span {

    color:var(--primary);

    font-size:50px;

    font-weight:bold;

}





/* ===============================
STORY
================================ */


.timeline {

    max-width:900px;

    margin:auto;

}



.timeline-item {

    background:white;

    padding:35px;

    margin-bottom:30px;

    border-left:6px solid var(--primary);

    border-radius:15px;

    box-shadow:var(--shadow);

}





/* ===============================
GALLERY
================================ */


.gallery {

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

}



.gallery img {

    width:100%;

    height:350px;

    object-fit:cover;

    border-radius:20px;

}





/* ===============================
EVENT
================================ */


.event-card {

    max-width:700px;

    margin:auto;

    background:white;

    padding:40px;

    text-align:center;

    border-radius:20px;

    box-shadow:var(--shadow);

}





/* ===============================
FORM
================================ */


form {

    max-width:600px;

    margin:auto;

    display:flex;

    flex-direction:column;

    gap:20px;

}



input,
textarea,
select {


    padding:18px;

    border:none;

    border-radius:15px;

    box-shadow:var(--shadow);

    font-size:16px;

}



textarea {

    min-height:150px;

}



button {

    background:var(--primary);

    color:white;

    border:none;

    padding:17px;

    border-radius:50px;

}





/* ===============================
WISHES
================================ */


#wishList {

    max-width:700px;

    margin:40px auto;

}



.wish {

    background:white;

    padding:25px;

    margin-bottom:20px;

    border-radius:15px;

    box-shadow:var(--shadow);

}





/* ===============================
GIFT
================================ */


#gift {

    padding-bottom:30px;

}



.gift-container {


    max-width:800px;

    margin:30px auto 0;


    display:flex;

    gap:35px;

}



.bank-card {


    flex:1;

    background:white;

    padding:30px 25px;


    border-radius:22px;

    box-shadow:var(--shadow);

    text-align:center;


}



.bank-card h3 {

    color:var(--primary);

    font-size:32px;

    margin-bottom:20px;

}



.bank-card p {

    color:var(--text);

    font-size:18px;

    line-height:1.8;

}





/* ===============================
MUSIC BUTTON
================================ */


#musicBtn {

    position:fixed;

    right:25px;

    bottom:25px;

    width:65px;

    height:65px;

    border-radius:50%;

    font-size:25px;

    z-index:9999;

    box-shadow:var(--shadow);

}





/* ===============================
FOOTER
================================ */


#footer {

    background:var(--footer);

    color:white;

    text-align:center;

    padding:18px 15px;

}



.footer-content {

    max-width:400px;

    margin:auto;

}



.footer-content h3 {

    font-family:'Poppins',sans-serif;

    font-size:13px;

    margin-bottom:5px;

}



.footer-content p {

    font-size:11px;

    line-height:1.4;

    margin:2px 0;

    color:#f8ead3;

}



.footer-brand {

    color:white!important;

    letter-spacing:1px;

}



.back-top {


    width:25px;

    height:25px;


    margin:8px auto 0;


    display:flex;

    justify-content:center;

    align-items:center;


    border-radius:50%;


    background:#e5c58b;

    color:#8b6a3e;


}





/* ===============================
MOBILE
================================ */


@media(max-width:768px){


nav {

    flex-direction:column;

    gap:15px;

}



nav ul {

    flex-wrap:wrap;

    justify-content:center;

}



.overlay h1 {

    font-size:45px;

}



.overlay h3 {

    font-size:25px;

}



section h2 {

    font-size:40px;

}



.gift-container {

    flex-direction:column;

}



.bank-card h3 {

    font-size:30px;

}



.countdown div {

    width:130px;

}



.card {

    width:100%;

}

}
